{% load static %}
<!DOCTYPE HTML>
<html>

<head>
	<title>Gallery -SSG</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body>
	<div class="page-wrap">

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="{% url 'home' %}"><span class="icon fa-home"></span></a></li>
				<li><a href="{% url 'galleries' %}" class="active"><span class="icon fa-camera-retro"></span></a></li>
				<li><a href="{% url 'generics' %}"><span class="icon fa-file-text-o"></span></a></li>
			</ul>
		</nav>

		<!-- Main -->
		<section id="main">

			<!-- Header -->
			<header id="header">
				<div>RaspiCam <span>by SSG</span></div>
			</header>

			<!-- Gallery -->
			<section id="galleries">

				<!-- Photo Galleries -->
				<div class="gallery">

					<!-- Filters -->
					<header>
						<h1>Gallery</h1>
					</header>

					<div class="content">
						{% for image in images %}
						<div class="media all people">
							<a href="{% static image.caption %}"><img src="{% static image.caption %}" alt=""
									title="This right here is a caption." /></a>
						</div>
						{% endfor %}
					</div>
				</div>
			</section>



			<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Untitled Design: SSG. Images: RaspiCam
			</footer>
		</section>
	</div>

	<!-- Scripts -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery.poptrox.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
	<script src="{% static 'js/skel.min.js' %}"></script>
	<script src="{% static 'js/util.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

</body>

</html>