{% load static %}
<!DOCTYPE HTML>
<!--
	Snapshot by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>RaspiCam by SSG</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body>
    <div class="page-wrap">

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="{% url 'home' %}" class="active"><span class="icon fa-home"></span></a></li>
                <li><a href="{% url 'galleries' %}"><span class="icon fa-camera-retro"></span></a></li>
                <li><a href="{% url 'generics' %}"><span class="icon fa-file-text-o"></span></a></li>
            </ul>
        </nav>

        <!-- Main -->
        <section id="main">

            <!-- Banner -->
            <section id="banner">
                <div class="inner">
                    <h1>RaspiCam by Team SSG</h1>
                    <p>라즈베리파이와 Open Cv를 이용한 매장 분석 솔루션</p>
                    <ul class="actions">
                        <li><a href="#galleries" class="button alt scrolly big">Continue</a></li>
                    </ul>
                </div>
            </section>

            <!-- Gallery -->
            <section id="galleries">
                <!-- Photo Galleries -->
                <div class="gallery">
                    <header class="special">
                        <h2>Result</h2>
                    </header>
                    <div class="content">
                        {% for image in images %}
                        <div class="media">
                            <a href="{% static image.caption %}"><img src="{% static image.caption %}" alt=""
                                    title="This right here is a caption." /></a>
                        </div>
                        {% endfor %}
                    </div>
                    <footer>
                        <a href="gallery.html" class="button big">더보기</a>
                    </footer>
                </div>
            </section>

            <!-- Contact -->
            <section id="contact">
                <!-- Social -->
                <div class="social column">
                    <h3>프로젝트 소개</h3>
                    <p> 온라인 매장보다 상대적으로 고객 정보수집이 불리한 오프라인 매장을 위해 라즈베리파이를 이용한 매장분석 솔루션을 고안하였습니다.</p>
                    <p>
                    <h4><u>"우리는 매장분석을 통해 오프라인 매장 성장에 기여합니다"</u></h4>
                    </p>
                    <p>기존 매장에 있는 CCTV아래에 추가로 모듈을 설치함으로서 기존 매장의 구조를 변경 할 필요 없이 솔루션을 체험 하실 수 있습니다.</p>
                    <p>"SSG가 제공하는 RaspiCam과 함께 오프라인 매장의 변화를 체험하세요"</p>
                </div>

                <!-- Form -->
                <div class="column">
                    <h3>Q&A 및 품질개선을 위한 의견</h3>
                    <form action="#" method="post">
                        <div class="field half first">
                            <label for="name">Name</label>
                            <input name="name" id="name" type="text" placeholder="Name">
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
                            <input name="email" id="email" type="email" placeholder="Email">
                        </div>
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
                        </div>
                        <ul class="actions">
                            <li><input value="Send Message" class="button" type="submit"></li>
                        </ul>
                    </form>
                </div>

            </section>

            <!-- Footer -->
            <footer id="footer">
                <div class="copyright">
                    &copy; Untitled Design: SSG Images: RaspiCam
                </div>
            </footer>
        </section>
    </div>

    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.poptrox.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'js/skel.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>